<div class="flex w-full justify-center items-center 2xl:px-20 gradient-bg-transactions">
    <div class="flex flex-col md:p-12 py-12 px-4">
        <h3 class="text-white text-3xl text-center my-2">
            Connect your account to see the latest transactions
          </h3>
    
    <div class="flex flex-wrap justify-center items-center mt-10" >
        <div class="bg-[#181918] m-4 flex flex-1
        2xl:min-w-[450px]
        2xl:max-w-[500px]
        sm:min-w-[270px]
        sm:max-w-[300px]
        min-w-full
        flex-col p-3 rounded-md hover:shadow-2xl"
        *ngFor="let transaction of transactions"
      >
        <div class="flex flex-col items-center w-full mt-3">
          <div class="w-full mb-6 p-2">
            <a href="https://ropsten.etherscan.io/address/{{transaction.addressFrom}}" target="_blank" rel="noreferrer">
              <p class="text-white text-base">From: {{transaction.addressFrom | shortenAddress}}</p>
            </a>
            <a href="https://ropsten.etherscan.io/address/{{transaction.addressFrom}}" target="_blank" rel="noreferrer">
              <p class="text-white text-base">To: {{transaction.addressFrom | shortenAddress}}</p>
            </a>
            <p class="text-white text-base">Amount: {{transaction.amount}} ETH</p>
            
                <br />
                <p class="text-white text-base">Message: {{transaction.message}}</p>
              
             
          </div>
          <!-- <img
            src={{transaction.gifUrl}}
            alt="nature"
            class="w-full h-64 2xl:h-96 rounded-md shadow-lg object-cover"
          />-->
          <div class="bg-black p-3 px-5 w-max rounded-3xl -mt-5 shadow-2xl">
            <p class="text-[#37c7da] font-bold">{{transaction.timestamp}}</p>
          </div> 
        </div>
      </div>
    </div>
</div>
</div>
